<h2>firstname lastname (<i class="fa fa-user"></i> abc)</h2>
<div class="row">
    <div class="col-sm-4 col-md-4">
        <h4>Basic Info</h4>
        <ul>
            <li>Gender:</li>
            <li>Email:</li>
            <li>Phone:</li>
        </ul>
    </div>

    <div class="col-sm-4 col-md-4">
        <h4>Education</h4>
        <ul>
            <li>School:</li>
            <li>Major:</li>
            <li>Year:</li>
        </ul>
    </div>

    <div class="col-sm-4 col-md-4">
        <h4>Logistics</h4>
        <ul>
            <li>Bus:</li>
            <li>T-shirt Size:</li>
            <li>Dieetary Restrictions:</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br/>
        <h4>Application</h4>
        <a type="button" class="btn btn-default" href="" target="_blank"><i class="fa fa-file-pdf-o"></i> Resume</a>
        <a type="button" class="btn btn-default" href="" target="_blank"><i class="fa fa-github"></i> Github</a>
        <a type="button" class="btn btn-default" href="" target="_blank"><i class="fa my-fa-linkedin-square"></i> Linkedin</a>
        <br/><br/>

        <div>First hackathon?</div>
        <br/>

        <div>Tell us something interesting about yourself.</div>

        <br/>

        <div>What's a cool project that you've worked on?</div>
        <br/>
        <div>Is there anything else you'd like to tell us?</div>
    </div>
</div>