<% include ../_header %>

<body>
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">bus information</h1>
            </div>
            <% if (buses.length == 0) { %>
                <h3 id="nobuses"> No Buses Currently </h3>
            <% } else { %>
                <% for (var i = 0; i < buses.length; i = i + 1) { %>
                    <div class="businfobox" data-pubid="<%= buses[i].name %>">
                        <div class="busname">
                            <%= buses[i].name %>
                        </div>
                        <ul class="businfo">
                          <li>
                            Bus Stops:
                            <ul>

                            </ul>
                          </li>
                          <li>
                            Current Number on Bus:
                          </li>
                          <li>
                            Max Capacity:
                          </li>
                        </ul>
                    </div>
                <% } %>
            <% } %>
            <div>
                <h2> Add New Bus </h2>
                <form action="/admin/businfo" method="POST">
                    <div id="addbus">
                        <div class="form-group">
                            <label for="busname" class="businfolabel"><h4>Bus Route Name</h4></label>
                            <input type="text" name="busname" id="busname" class="form-control" value=""
                                placeholder="Enter Route Name">
                        </div>
                        <div class="form-group">
                            <label for="busstops" class="businfolabel"><h4>Bus Stops (Search Below and Add to List)</h4></label>
                            <input type="text" name="busstops" id="busstops" class="form-control" value=""
                            placeholder="List of Bus Stops">
                            <label id="collegesearch" for="collegesearch">Search by College</label>
                            <input type="hidden" id="collegeid" name="collegeid" class="form-control"
                                value="" required/>
                            <input type="text" name="college" id="college" class="form-control typeahead"
                                placeholder="School Name"
                                value="">
                            <input type="button" value="add college" name="addcollege" id="addcollege" class="btn btn-primary">
                        </div>
                        <div class="form-group">
                            <label for="busname" class="businfolabel"><h4>Bus Capacity</h4></label>
                            <input type="text" name="busname" id="busname" class="form-control" value=""
                                placeholder="Enter Capacity Number">
                        </div>
                        <div id="createbus">
                            <input type="submit" value="create bus" name="createbus" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/vendor/typeahead.bundle.min.js"></script>
<script src="/js/typeahead_college.js"></script>
<script src="/js/admin.js"></script>
<% include ../_footer %>