<% include ../_header %>
<body>
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">review apps</h1>
            </div>
            <div class="row review-header">
                <div class="col-md-3">
                    <h4>Overall: </h4>
                    <ul>
                        <li>Accepted</li>
                        <li>Waitlisted:</li>
                        <li>Rejected:</li>
                        <li>Pending:</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>From School: </h4>
                    <ul>
                        <li>Accepted</li>
                        <li>Waitlisted:</li>
                        <li>Rejected:</li>
                        <li>Pending:</li>
                    </ul>
                </div>
            </div>
            <div class="row review-body">
                <% include _usertemplate %>
            </div>
            <div class="row review-footer">
                <a class="btn btn-primary" href="/admin/review">Next Applicant <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin.js"></script>
<% include ../_footer %>