<% include ../_header %>
<%

%>

<body data-ng-app="brh.controllers">
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2" data-ng-controller="signin.ctrl">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">participant signin</h1>
            </div>

            <div id="searchparameters" class="col-md-12">
                <p>All fields are optional.</p>

                <form>

                    <div class="form-group">
                        <label for="college">Filter by Name</label>
                        <input type="text" name="college" id="college" class="form-control"
                               placeholder="Name"
                               value="">
                    </div>

                    <div class="form-group">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="teamwithcornell" name="teamwithcornell" value="true"
                                       class="checkbox" <%- false ? "checked" : "" %>> Team with
                                Cornell students
                            </label>
                        </div>
                    </div>


                </form>
            </div>
            <div id="searchresults" class="col-md-12">
                <p id="result-count" class="text-right"> results found.</p>

                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>School</th>
                        <th>Checked In</th>
                    </tr>
                    <tr class="user" ng-repeat="user in users | filter:search | filter:checked">
                        <td><a target="_blank" href="/admin/user/{{user.pubid}}">{{user.name.first + " " + user.name.last}}</a></td>
                        <td>{{user.school.name}}</td>
                        <td>                        <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="true"
                                           class="checkbox" <%- false ? "checked" : "" %>>
                                </label>
                            </div></td>
                    </tr>
                </table>

                <p>No results found.</p>

            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
<script src="//s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>

<script src="/js/admin/signin.js"></script>
<% include ../_footer %>