<% include ../_header %>

<body>
<div class="container-fluid">
    <div class="row">
        <% include _adminside %>
        <div class="content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">review user</h1>
            </div>
            <% include _usertemplate %>

            <br/>

            <div class="text-center">
                Update application decision:
                <form class="decision-radio">
                    <%- viewHelper.generateInlineRadio(enums.virtual.status.long, {
                        checked: user.internal.status, //set default value
                        name: "individualstatus", //name attr of each input
                        label: enums.virtual.status.long //label of the input different from actual input
                    }); %>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin.js"></script>
<% include ../_footer %>