<% include ../_header %>
<link href="/css/index.css" rel="stylesheet">
<link rel="stylesheet" href="/css/login.css">

<body>
<% include ../_navbar-generic %>
<div class="container">

    <div class="login center-block col-lg-5 col-md-5 col-sm-10">
        <h2>reset password</h2>
        <br/>

        <p>Your password has been successfully reset. <br/>
            <a href="/">Return to BigRed//Hacks Home Page</a>.</p>

    </div>
</div>

<% include ../_footer %>