<div class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <ul class="nav nav-sidebar">
        <li>
            <a href="/user/dashboard">Dashboard Home</a>
        </li>
        <li>
            <a href="/user/dashboard/editregistration">Edit Registration/Application</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</div>