<% include _header %>

<link href="/css/index.css" rel="stylesheet">

<body>
<% include _navbar-generic %>
<div class="container center-block">

    <div class="landing-container">
        <div class="col-md-12">
            <div class="col-md-offset-2 col-md-1">
                <div class="landing-icon fa fa-exclamation-triangle"></div>
            </div>
            <div class="col-md-9">
                <div class="landing-header">404 Page Not Found</div>
                <div class="landing-subheader">The page you requested does not exist.</div>
            </div>
        </div>
    </div>
</div>

<% include _footer %>