<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BigRed//Hacks - Be a part of something big.">
    <meta name="author" content="BigRed//Hacks">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/img/icon/brh-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icon/brh-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icon/brh-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icon/brh-icon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/brh-icon-152.png">

    <meta property="og:site_name" content="BigRed//Hacks">
    <meta property="og:description" content="BigRed//Hacks - Be a part of something big. Happening at Cornell University on Sept 18-20, 2015.">
    <meta property="og:url" content="http://bigredhacks.com">
    <meta property="og:title" content="BigRed//Hacks">
    <meta property="og:image" content="http://bigredhacks.com/img/social/fb-og-image.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bigredhacks">
    <meta name="twitter:creator" content="@bigredhacks">
    <meta name="twitter:title" content="BigRed//Hacks">
    <meta name="twitter:description" content="BigRed//Hacks - Be a part of something big.">
    <meta name="twitter:image" content="http://bigredhacks.com/img/social/tw-card-image.png">

    <title>BigRed//Hacks <%= (typeof(title) === "undefined") ?  '' : ('| ' + title); %></title>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Roboto:500,300,300italic' rel='stylesheet' type='text/css'>


    <!-- Bootstrap Core CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
