<% include partials/_header %>
<% var firstname = firstname || '';
var lastname = lastname || ''; %>
<!-- Custom CSS -->
<link href="/css/dashboard.css" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
                <a href="#top"></a>
                </li>
                <li>
                    <a href="#top">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#faq">FAQ</a>
                </li>
                <li>
                    <a href="#schedule">Schedule</a>
                </li>
                <li>
                    <a href="#sponsors">Sponsors</a>
                </li>
                <li>
                    <a href="#tools">Tools</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">

            <h2>Dashboard </h2>
            <%= firstname %> <%= lastname %>
            <p>
                Welcome to your BigRed//Hacks user panel! Using the buttons on the side, you can
                edit your application, change and set up your team members, and check on the status
                of your application. Shoot us an email if you have any questions!
            </p>
        </div>
    </div>
</div>

<% include partials/_footer %>