<% include _header %>
<link rel="stylesheet" href="/css/login.css">
<div class="container">

    <div class="login center-block col-lg-5 col-md-5 col-sm-10">
        <h2>Reset Password</h2>
        <br/>
        <%
        if (error.length > 0) { %>
        <%- '<div class="alert alert-danger" role="alert">' + error[0] + '</div>';%>
        <%}%>
        <% if (page==1) { %>
        <form action="/resetpassword" method="post">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="<%= email || "" %>"required>
            </div>
            <button type="submit" class="btn btn-primary center-block ">Submit</button>
        </form>
        <%} else {%>
        <label for="resetmessage">An email has been sent to <%= email %> with a link to reset your password.</label>
        <%}%>
    </div>
</div>

<% include _footer %>
