<% include _header %>
<link href="/css/index.css" rel="stylesheet">
<link rel="stylesheet" href="/css/login.css">

<body>
<% include _navbar-generic %>
<div class="container">

    <div class="login center-block col-lg-5 col-md-5 col-sm-10">
        <h2>reset password</h2>
        <br/>
        <%
        if (error.length > 0) { %>
        <%- '<div class="alert alert-danger" role="alert">' + error[0].toLowerCase() + '</div>';%>
        <%}%>

        <% if (page==1) { %>
        <form action="/resetpassword" method="post">
            <div class="form-group">
                <label for="email">email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="email" value="<%= email || "" %>"required>
            </div>
            <button type="submit" class="btn btn-primary center-block ">submit</button>
        </form>
        <%} else if (page==2) {%>
        <label for="resetmessage">An email has been sent to <%= email %> with a link to reset your password.
        <a href="/">Return to BigRed//Hacks Home Page</a></label>
        <%} else if (page==3) {%>
        <form method="post">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="email" value="<%= email%>" readonly>
                <label for="password">new password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="password" required/>
                <label for="confirmpassword">confirm password</label>
                <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="password" required/>
            </div>
            <button type="submit" class="btn btn-primary center-block ">Submit</button>
         </form>
        <%} else if (page==4) {%>
         <label for="resetmessage">Your password has been successfully reset.
         <a href="/">Return to BigRed//Hacks Home Page</a></label>
        <% } %>
    </div>
</div>

<% include _footer %>
