<% include partials/_header %>
<!-- Custom CSS -->
<link href="/css/index.css" rel="stylesheet">
<!--
  ____  _       _____          _     _____    _            _        
 |  _ \(_)     |  __ \        | |   / / / |  | |          | |       
 | |_) |_  __ _| |__) |___  __| |  / / /| |__| | __ _  ___| | _____ 
 |  _ <| |/ _` |  _  // _ \/ _` | / / / |  __  |/ _` |/ __| |/ / __|
 | |_) | | (_| | | \ \  __/ (_| |/ / /  | |  | | (_| | (__|   <\__ \
 |____/|_|\__, |_|  \_\___|\__,_/_/_/   |_|  |_|\__,_|\___|_|\_\___/
           __/ |                                                    
          |___/                                                     

-->

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top"></a>
        </li>
        <li>
            <a href="#top">Home</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#faq">FAQ</a>
        </li>
        <li>
            <a href="#schedule">Schedule</a>
        </li>
        <li>
            <a href="#sponsors">Sponsors</a>
        </li>
        <li>
            <a href="#tools">Tools</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>BigRed//Hacks</h1>

        <h3>September XX-XX 2015</h3>
        <br>
        <a href="#reg" class="btn btn-dark btn-lg">Get Started</a>
    </div>
</header>

<!-- Register -->
<section id="reg" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Get Started</h2><br>
                <a href="/register" class="btn btn-dark btn-lg">Register</a>
                <a href="/login" class="btn btn-dark btn-lg">Login</a>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="padding bg-danger">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>About</h2>

                <p>-content-</p>
            </div>
        </div>
    </div>
</section>


<!-- FAQ -->
<section id="faq" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>FAQ</h2>

                <p>-content</p>
            </div>
        </div>
    </div>
</section>


<!-- Schedule -->
<section id="schedule" class="padding bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Schedule</h2><br>
                <br>
                <table>
                    <tr>
                        <td width="400">Friday</td>
                        <td width="400">Saturday</td>
                        <td width="400">Sunday</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


<!-- Sponsors -->
<section id="sponsors" class="padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Sponsors</h2>

                <p>-content-</p>
            </div>
        </div>
    </div>
</section>


<!-- Tools -->
<section id="tools" class="padding bg-danger">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Tools</h2>

                <p>-Content-</p>

                <p>(Contains hardware provided and a link to download the mobile app)</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Footer</strong>
                </h4>

                <p>Content</p>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">&copy; </p>
            </div>
        </div>
    </div>
</footer>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

<% include partials/_footer %>