<% include _header %>
<!-- Custom CSS -->
<link href="css/vendor/animate.css" rel="stylesheet"/>
<link href="/css/index.css" rel="stylesheet">

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- Preloader -->
<div id="preloader">
    <div id="load"></div>
</div>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="img/logo-white.png" height="40" width="180" draggable="false">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="#tools">Tools</a></li>
                <li><a href="#sponsors">Sponsors</a></li>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Section: intro -->
<section id="intro" class="intro">

    <div class="slogan">
        <h2>BIGRED//HACKS</h2>
        <h4>Cornell University's Ultimate Hackathon</h4>
        <h4>Sept 18-20, 2015</h4>
        <a href="/register" class="btn btn-red">Register</a>&nbsp;&nbsp;&nbsp;
        <a href="/login" class="btn btn-red">Login</a>
    </div>

</section>
<!-- /Section: intro -->

<!-- Section: about -->
<section id="about" class="home-section">
    <div class="heading-about">
        <div class="container">
            <img src="img/leaf-red.svg" draggable="false" class="leaf"><br>

            <h2 style="float:left;">About</h2>
        </div>
    </div>
    <div class="container">
        <br>

        <p>BigRed//Hacks is the first ever student-run, large-scale hackathon at Cornell University. Across three days,
            students from all across the northeast will gather to build the coolest and most innovative projects, meet
            amazing people, and win some prizes along the way!</p>

        <p>We encourage all developers regardless of technical ability or hackathon experience to apply. Admission and
            food is free for all hackers.</p><bR>

        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="pics boxed-grey text-center">
                    <div class="inner">
                        <h5>Create</h5>

                        <div class="avatar"><img src="img/create.jpg" draggable="false" alt=""
                                                 class="img-responsive img-circle"/></div>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="pics boxed-grey text-center">
                    <div class="inner">
                        <h5>Learn</h5>

                        <div class="avatar"><img src="img/learn.jpg" draggable="false" alt=""
                                                 class="img-responsive img-circle"/></div>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="pics boxed-grey text-center">
                    <div class="inner">
                        <h5>Collaborate</h5>

                        <div class="avatar"><img src="img/collaborate.jpg" draggable="false" alt=""
                                                 class="img-responsive img-circle"/></div>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="pics boxed-grey text-center">
                    <div class="inner">
                        <h5>Share</h5>

                        <div class="avatar"><img src="img/share.jpg" draggable="false" alt=""
                                                 class="img-responsive img-circle"/></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: about -->


<!-- Section: faq -->
<section id="faq" class="home-section bg-gray">

    <div class="heading-about">
        <div class="container">
            <img src="img/leaf-red.svg" class="leaf"><br>

            <h2 style="float:left;">FAQ</h2>
        </div>
        <div class="container">
            <dl>
                <dt>Who is eligible to participate?</dt>
                <dd>We are inviting all undergraduate and graduate students to participate in our hackathon. You don't
                    need any past experience. You don't even need to be a computer science major! Our only requirement
                    is that you are at least 18 years old and enrolled in an accredited college or university.
                </dd>

                <dt>What will I need to bring?</dt>
                <dd>Bring your school ID for registration. You are also responsible for bringing any equipment for
                    building and demoing your hack: laptop, chargers, phones, etc. You may also want to bring a sleeping
                    bag, change of clothes, and toothbrush.
                </dd>

                <dt>Do I have to sign up with a team?</dt>
                <dd>You don't have to signup with a team, but it's certainly more fun! We allow teams of up to four
                    people (they don't have to be from the same school), and while they can be specified on the
                    application, you won't officially create your team until the event. If you don't have a team yet,
                    we'll host a social before the hacking begins for you to meet other amazing people.
                </dd>

                <dt>Are you providing food?</dt>
                <dd>Don't worry, there will be lots of food and drinks (including energy drinks) at our event, free of
                    charge to all participants. We'll have vegetarian options as well.
                </dd>


                <dt>What's the deal with transportation?</dt>
                <dd>ur goal is to reimburse student travel as needed (up to $150 currently, subject to change). There
                    will be a reimbursement table: bring your travel ticket, receipt, and government-issued photo ID. We
                    ask that you pick a reasonably priced method of travel. There will be limited on-campus parking. Our
                    goal is to charter buses for popular locations.
                </dd>

                <dt>Are hardware hacks allowed?</dt>
                <dd><i><u>NOTE: This should be changed, yes?</u></i><br>
                    While we are allowing all kinds of hacks, including hardware hacks, we currently don't have the
                    means to provide dedicated support for hardware hackers. Hackers will be responsible for bringing
                    any components they wish to use, and won't be provided special tools or space. Any free hardware
                    that sponsors bring will be at their own discretion and will not be handled by us.
                </dd>

                <dt>What are the rules?</dt>
                <dd>We want BigRed//Hacks to be fun and fair for everyone. Your project should be started from scratch
                    and worked on only during the 36 hours, and you may only incorporate outside resources (code,
                    graphics, sound, etc) that are freely licensed and accessible to all participants equally. Of
                    course, maintain a positive, respectful attitude to your fellow hackers throughout the event.
                </dd>

                <dt>Why is there an application?</dt>
                <dd>We want to guarantee that students from a wide range of schools, backgrounds, and experiences are
                    given an equal and fair chance to participate. Further, we hope that the process will encourage
                    registrants to be committed to build something awesome. Even if you've never been to a hackathon
                    before, please apply!
                </dd>

                <dt>Have more questions?</dt>
                <dd>Send them to <a href="mailto:info@bigredhacks.com">info@bigredhacks.com</a>, or tweet us <a
                            href="twitter.com/@BigRedHacks">@BigRedHacks</a>.
                </dd>
            </dl>
        </div>
    </div>

</section>
<!-- /Section: services -->


<!-- Section: schedule -->
<section id="schedule" class="home-section text-center">
    <div class="heading-about">
        <div class="container">
            <img src="img/leaf-red.svg" draggable="false" class="leaf"><br>

            <h2 style="float:left;">Schedule</h2>
        </div>
    </div>
    <div class="container">

        <p>Coming soon!</p>

    </div>
</section>
<!-- /Section: schedule -->


<!-- Section: tools -->
<section id="tools" class="home-section text-center bg-gray">

    <div class="heading-about">
        <div class="container">
            <img src="img/leaf-red.svg" class="leaf"><br>

            <h2 style="float:left;">Tools</h2>

            <div class="row">
            </div>
            <div class="container">

                <p>Coming soon!</p>

            </div>
</section>
<!-- /Section: tools -->


<!-- Section: sponsors -->
<section id="sponsors" class="home-section text-center">
    <div class="heading-about">
        <div class="container">
            <img src="img/leaf-red.svg" draggable="false" class="leaf"><br>

            <h2 style="float:left;">Sponsors</h2>
        </div>
    </div>
    <div class="container">

        <p>Coming soon!</p>

    </div>
</section>
<!-- /Section: sponsors -->


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="wow shake" data-wow-delay="0.4s">
                    <div class="page-scroll marginbot-30">
                        <!--<a href="#intro" id="totop" class="btn btn-circle">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>-->
                    </div>
                </div>
                <p>&copy;2015 BigRed//Hacks</p>

                <p>All other trademarks and logos © their respective owners.</p>

                <p>
                    From Ithaca with ♥</p>
            </div>
        </div>
    </div>
</footer>

<!-- Core JavaScript Files -->
<script src="js/vendor/jquery.easing.min.js"></script>
<script src="js/vendor/jquery.scrollTo.js"></script>
<script src="js/vendor/wow.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/index.js"></script>


<% include _footer %>