<% include _header %>
<!-- Custom CSS -->
<link href="/css/index.css" rel="stylesheet">

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="img/logo/brh-logo-beige-full.svg" height="40" width="180" draggable="false">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#sponsors">Sponsors</a></li>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<% if (messages.error) { %>
<%- '<div class="alert alert-danger float alert-dismissible fadeOut" role="alert" ><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + messages.error[0].toLowerCase() + '</div>' %>
<% } %>

<% if (messages.success) { %>
<%- '<div class="alert alert-success float alert-dismissible fadeOut" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + messages.success[0].toLowerCase() + '</div>' %>
<% } %>

<!-- Section: intro -->
<section id="intro" class="intro">
    <div class="transparent"></div>
    <div class="slogan">
        <h2><img src="img/icon/brh-icon-beige-full.svg" height="75" width="95">BIGRED//HACKS</h2>

        <h3>be a part of something big.</h3>

        <h3>Sept 18-20, 2015</h3>
        <br/>

        <span class="announcement">
            <!--<h3>General applications are closing! </h3>
            <h3>Last day to apply is August 01.</h3>-->
            <h3>registration is closed! cornell students: check back soon.</h3>
        </span>
        <br/>

        <% if (isUser) { %>
        <a href="/user/dashboard" class="btn btn-red">my dashboard</a>
        <% }
        else { %>
            <% if (middlehelp.isRegistrationOpen()) { %>
            <button class="btn btn-red fixed-width" data-toggle="modal" data-target="#regModal">register</button>
            &nbsp;&nbsp;&nbsp;
        <% } %>
        <a href="/login" class="btn btn-red fixed-width">login</a> <br/>
        <% } %>
    </div>


</section>
<!-- /Section: intro -->

<!-- Section: about -->
<section id="about" class="home-section">
    <div class="section-heading container">
        <img src="img/leaf-red.svg" draggable="false" class="leaf"><br>

        <h2 style="float:left;">about</h2>
    </div>
    <div class="container">
        <br>

        <p>BigRed//Hacks is the first ever student-run, large-scale hackathon at Cornell University. Across three days,
            students from all across the northeast will gather to build the coolest and most innovative projects, meet
            amazing people, and win some prizes along the way!</p>

        <p>We encourage all developers regardless of technical ability or hackathon experience to apply. Admission and
            food is free for all hackers.</p><bR>

        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="pics boxed-grey text-center">
                    <div class="inner">
                        <h5>Create</h5>

                        <div class="avatar"><img src="img/create.jpg" draggable="false" alt=""
                                                 class="img-responsive img-circle"/></div>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="pics boxed-grey text-center">
                    <div class="inner">
                        <h5>Learn</h5>

                        <div class="avatar"><img src="img/learn.jpg" draggable="false" alt=""
                                                 class="img-responsive img-circle"/></div>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="pics boxed-grey text-center">
                    <div class="inner">
                        <h5>Collaborate</h5>

                        <div class="avatar"><img src="img/collaborate.jpg" draggable="false" alt=""
                                                 class="img-responsive img-circle"/></div>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="pics boxed-grey text-center">
                    <div class="inner">
                        <h5>Share</h5>

                        <div class="avatar"><img src="img/share.jpg" draggable="false" alt=""
                                                 class="img-responsive img-circle"/></div>

                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>
<!-- /Section: about -->


<!-- Section: faq -->
<section id="faq" class="home-section">

    <div class="section-heading container">
        <img src="img/leaf-red.svg" class="leaf"><br>

        <h2 style="float:left;">Frequently Asked Questions</h2>
    </div>
    <div class="container">
        <dl>
            <dt>Who is eligible to participate?</dt>
            <dd>We are inviting all undergraduate and graduate students to participate in our hackathon. You don't
                need any past experience. You don't even need to be a computer science major! Our only requirement
                is that you are at least 18 years old and enrolled in an accredited college or university.
            </dd>

            <dt>What will I need to bring?</dt>
            <dd>Bring your school ID for registration. You are also responsible for bringing any equipment for
                building and demoing your hack: laptop, chargers, phones, etc. You may also want to bring a sleeping
                bag, change of clothes, and toothbrush.
            </dd>

            <dt>Do I have to sign up with a team?</dt>
            <dd>You don't have to sign up with a team, but it's certainly more fun! We allow teams of up to four
                people (they don't have to be from the same school), and while they can be specified on the
                application, you won't officially create your team until the event. If you don't have a team yet,
                we'll host a social before the hacking begins for you to meet other amazing people.
            </dd>

            <dt>Are you providing food?</dt>
            <dd>Don't worry, there will be lots of food and drinks (including energy drinks) at our event, free of
                charge to all participants. We'll have vegetarian options as well.
            </dd>

            <dt>What's the deal with transportation?</dt>
            <dd>Our goal is to reimburse student travel as needed (up to $150 currently, subject to change). There
                will be a reimbursement table: please bring your travel ticket, receipt, and government-issued photo ID.
                We
                ask that you pick a reasonably priced method of travel. There will be limited on-campus parking. We'll
                also be chartering buses for popular locations.<br><br>Are you the director of a hackathon club at your
                school? Get in touch with us to organize a trip!
            </dd>

            <dt>Are hardware hacks allowed?</dt>
            <dd>While we won't be providing a dedicated hardware lab, you are absolutely allowed to develop a hardware
                hack. Some of our sponsors are bringing hardware to loan, but we suggest you bring your own equipment if
                you know that you'll absolutely need it.
            </dd>

            <dt>What are the rules?</dt>
            <dd>We want BigRed//Hacks to be fun and fair for everyone. Your project should be started from scratch
                and worked on only during the 36 hours, and you may only incorporate outside resources (code,
                graphics, sound, etc) that are freely licensed and accessible to all participants equally. Of
                course, maintain a positive, respectful attitude toward your fellow hackers throughout the event.
            </dd>

            <dt>Why is there an application?</dt>
            <dd>We want to guarantee that students from a wide range of schools and experiences are
                given an equal and fair chance to participate. Furthermore, we hope that the process will encourage
                registrants to be committed to building something awesome. Even if you've never been to a hackathon
                before, please apply!
            </dd>

            <dt>Why can't Cornell students apply yet?</dt>
            <dd>We're doing applications a little differently this year. General applications are immediately available
                for all students not at Cornell. In early September, we will open applications to Cornell students, and
                these will be on a first-come first-serve basis. Add yourself to the mailing list so that you'll know
                when applications open.
            </dd>

            <dt>Have more questions?</dt>
            <dd>Send them to <a href="mailto:info@bigredhacks.com">info@bigredhacks.com</a>, or tweet us <a
                        href="http://www.twitter.com/@BigRedHacks" target="_blank">@BigRedHacks</a>.
            </dd>
        </dl>
    </div>

</section>
<!-- /Section: services -->


<!-- Section: sponsors -->
<section id="sponsors" class="home-section text-center">
    <div class="section-heading container">
        <img src="img/leaf-red.svg" draggable="false" class="leaf"><br>

        <h2 style="float:left;">Our Amazing Sponsors</h2>
    </div>
    <div class="container">
                <ul class="logos">
                    <li class="logo-4"><a href="http://capitalone.com"><img src="img/logos/capitalone.png" alt="Capital One"></a></li>
                </ul>

                <ul class="logos">
                    <li class="logo-3" id="uber"><a href="http://uber.com"><img src="img/logos/uber.png" alt="Uber"></a></li>
                    <li class="logo-3" id="Priceline"><a href="http://priceline.com"><img src="img/logos/priceline.png" alt="Priceline"></a></li>
                </ul>

                <ul class="logos">
            <li class="logo-2" id="bloomberg"><a href="http://www.bloomberg.com"><img src="img/logos/bloomberg.png" alt="Bloomberg"></a></li>
<li class="logo-2" id="a16z"><a href="http://www.a16z.com"><img src="img/logos/a16z.png" alt="Andreessen Horowitz"></a></li>
                </ul>

                <ul class="logos">
                <li class="logo-2" id="goldmansachs"><a href="http://www.goldmansachs.com"><img src="img/logos/goldmansachs.png" alt="Goldman Sachs"></a></li>
                <li class="logo-2" id="mathworks"><a href="http://www.mwthworks.com"><img src="img/logos/mathworks.png" alt="MathWorks"></a></li>

                </ul>

            <p class="logos">Interested in sponsoring? Contact us at <a
                    href="mailto:sponsors@bigredhacks.com">sponsors@bigredhacks.com</a>.</p>

    </div>
</section>
<!-- /Section: sponsors -->


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <p class="footer">
                    <a href="http://www.facebook.com/BigRedHacks" target="_blank">
                        <img class="s-icon" src="img/icon-bf.png" draggable="false"></a>&nbsp&nbsp
                    <a href="http://www.twitter.com/BigRedHacks" target="_blank">
                        <img class="s-icon" src="img/icon-wt.png" draggable="false"></a>&nbsp&nbsp
                    <a href="mailto:info@bigredhacks.com">
                        <img class="s-icon" src="img/icon-em.png" draggable="false"></a>&nbsp&nbsp
                </p>
                <br>

                <p class="footer">&copy;2015 BigRed//Hacks<br>
                    <span id="cover-photo-attribution"></span>
                    All other trademarks and logos &reg; their respective owners.<br>
                    From Ithaca with &hearts;</p>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="subscribeEmail" method="post" action="/cornell/subscribe" name="subscribeEmail">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Where do you go to school?</h4>
                </div>
                <div class="modal-body hidden">
                    <p>We're doing registration differently this year. Cornell University students won't be able to
                        register until September, but in the meantime, add yourself to the mailing list. You'll receive
                        an email when we open registration.</p>

                    <div class="form-group">
                        <label for="cornellEmail">email address *</label>
                        <input type="email" id="cornellEmail" name="cornellEmail" class="form-control"
                               placeholder="bigredhacks@cornell.edu"
                               value="" required/>
                    </div>
                </div>
                <div class="modal-footer" id="regFooter">
                    <button type="button" id="regCornell" class="btn btn-red reg-select">
                        Cornell/Ithaca
                    </button>
                    <a href="/register" class="btn btn-red reg-select">Somewhere else</a>

                    <button type="submit" id="cornell-submit" class="btn btn-red hidden">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script src="/js/vendor/jquery.easing.min.js"></script>
<script src="/js/vendor/jquery.scrollTo.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.options.js"></script>
<script src="/js/index.js"></script>

<% include _footer %>
