<!DOCTYPE html>
<html>
  <head>
    <title><%= Registration %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include registration.html %>
  </body>
</html>
